[Unit]
Description=Minecraft Server
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/root/server
ExecStart=/usr/bin/java -Xmx2048M -Xms1024M -jar server.jar nogui
Restart=on-failure

[Install]
WantedBy=multi-user.target